// Layout
body{
    font-family: Arial, Helvetica, sans-serif;
}

section#main{
    display: flex;
    flex-flow: row nowrap;
    height: 100vh;

    > app-main-menu aside.menu-wrapper{
        height: 100vh;
        flex-basis: 15%;
        background-color: $blue-3;
    }

    > div.right-panel{
        flex-basis: 85%;
        background-color: $gray5;
        > header#header{
            padding-right: 25px;
            height: 80px;
            background-color: white;
            display: flex;
            align-items: center;

            div.logo-wrapper{
                padding-left: 25px;
                flex-grow: 2;
                img{
                    max-width: 150px;
                    display: block;
                }
            }

            div.economic-group{
                display: flex;
                align-items: center;
                margin-right: 15px;
                label{
                    margin-right: 10px;
                    color: $blue-3;
                }
            }

            div.user-wrapper{
                display: flex;
                align-items: center;
                div.customSelect{
                    background-color: $blue-3;
                    color: white;
                    border-left: none;
                    i{
                        position: absolute;
                        left: 12px;
                        font-size: .8em;
                    }
                    ul{
                        background-color: $blue-3;
                    }
                }
                div.notifications-wrapper{
                    width: 55px;
                    height: 45px;
                    background-color: $blue0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    i{
                        color: white;
                    }
                    span.badge{
                        background-color: $red;
                        color: white;
                        width: 20px;
                        height: 20px;
                        line-height: 20px;
                        text-align: center;
                        font-size: .7em;
                        position: absolute;
                        top: 5px;
                        right: 5px;
                        @include border_radius( 50% );
                    }
                }
            }
        }
    
        > section#content{
            display: flex;
            flex-flow: column wrap;
            padding: 25px;
            > div.row{
                flex-basis: 100%;

                > div.breadcrumbs{
                    margin-bottom: 20px;
                    nav > ul{
                        display: flex;
                        li{
                            a{
                                font-size: .8em;
                                color: $gray3;
                                text-decoration: none;
                            }
                            &::before{
                                content: '>';
                                color: $gray3;
                                margin: 0 20px;
                            }
                            &:first-child::before{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

//Overlay
div.overlay{
    position: fixed;
    top: 0;
    height: 0;
    width: 100%;
    height: 100%;
    background-color: rgba( 0, 0, 0, 0.2 );
    opacity: 0;
    z-index: -1;
    @include transition( all 200ms );
    &.open{
        z-index: 5;
        opacity: 1;
        @include transition( all 200ms );
    }
}

// Links - default
.link-default{
    font-size: .8em;
    color: $blue-3;
    border: 1px solid $blue0;
    text-decoration: none;
    padding: 10px 0;
    display: block;
    text-align: center;
    @include transition( all 100ms );
    &:hover{
        background-color: $blue0;
        color: white;
        @include transition( all 100ms );
    }
}