app-custom-select{
    div.customSelect{
        width: 160px;
        height: 45px;
        border: 1px solid $blue0;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        cursor: pointer;
        &::after{
            content: '\276F \276F';
            position: absolute;
            font-size: .7em;
            top: 15px;
            right: 5px;
            color: $blue0;
            @include transform( rotate(90deg) );
        }
        span.value{
            font-size: .8em;
        }
        ul{
            opacity: 0;
            position: absolute;
            top: 43px;
            left: 0;
            width: 100%;
            background: white;
            li{
                cursor: pointer;
                padding: 10px 0;
                font-size: .8em;
                border-bottom: 1px solid $gray5;
                &:hover::before{
                    content: '>';
                    display: inline-block;
                    margin-right: 5px;
                }
            }
        }
        &.open{
            background-color: white;
            z-index: 9;
            ul{
                opacity: 1;
                padding: 10px;
                outline: 1px solid $blue0;
                @include transition( padding-top 200ms );
            }
        }
    }
}