app-main-menu{
    div.search-wrapper{
        background-color: white;
        padding: 20px 10px;
        border-right: 2px solid $gray3;
        display: flex;
        align-items: center;
        input{
            width: 100%;
            padding: 10px;
            border: none;
            text-align: right;
        }
        div.icon{
            margin-left: 15px;
            i{
                color: $gray3;
            }
        }
    }
    div.main-menu-wrapper{
        display: block;
        nav{
            ul{
                display: flex;
                flex-flow: column wrap;
                li{
                    padding: 10px 10px;
                    border-bottom: 1px solid $blue-2;
                    display: flex;
                    align-items: center;
                    div.icon{
                        width: 30px;
                        height: 30px;
                        line-height: 30px;
                        text-align: center;
                        border: 1px solid white;
                        margin-right: 10px;
                        @include border_radius( 50% );
                        i{
                            color: white;
                        }
                    }
                    a{
                        flex: 1;
                        color: white;
                        text-decoration: none;
                        font-size: 1em;
                        display: block;
                        position: relative;
                        &.active::after{
                            content: '\25E3';
                            position: absolute;
                            right: -17px;
                            font-size: 1.2em;
                            @include transform( rotate( 45deg ) );
                        }
                    }
                }
            }
        }
    }
}