app-mgmt-panel{
    div.mgmt-component{
        display: flex;
        flex-flow: column wrap;
        div.row{
            display: flex;
            &:first-child{
                margin-bottom: 45px;
            }
            &:last-child{
                justify-content: space-between;
            }

            div.page-title-wrapper{
                flex: 1;
                h1{
                    display: flex;
                    align-items: center;
                    font-size: 2em;
                    color: $blue-3;
                    i{
                        margin-right: 15px;
                    }
                }
            }
            div.product-wrapper{
                justify-content: flex-end;
                display: flex;
                align-items: center;
                h4{
                    margin-right: 10px;
                }
            }

            div.panel-default-wrapper{
                padding: 30px;
                background-color: white;
                @include box_shadow( 0px 0px 20px $gray3 );
                div.panel-title{
                    display: flex;
                    align-items: center;
                    padding-bottom: 20px;
                    border-bottom: 1px solid $gray5;
                    h2{
                        color: $blue-3;
                        font-size: 1.5em;
                    }
                }
                div.panel-content{
                    display: flex;
                }
            }

            div.panel-default-wrapper.left{
                flex-basis: 55%;
                justify-self: flex-start;
                div.panel-content{
                    display: flex;
                    justify-content: space-between;
                    .col{
                        
                        div.title{
                            margin: 20px 0 10px 0;
                            h4{
                                font-size: .9em;
                                color: $blue-3;
                            }
                        }
                        div.content{
                            ul{
                                display: flex;
                                justify-content: space-between;
                                flex-flow: row wrap;
                                li{
                                    flex-basis: 48%;
                                    margin: 5px 0;
                                }
                            }
                        }

                        &:first-child{
                            flex-basis: 60%;
                            border-right: 1px solid $gray5;
                            padding-right: 20px;
                        }
                        &:last-child{
                            flex-basis: 40%;
                            padding-left: 20px;

                            div.content ul{
                                justify-content: center;
                                li{
                                    flex-basis: 80%;
                                }
                            }
                        }
                    }
                }
            }

            div.panel-default-wrapper.right{
                flex-basis: 40%;
                justify-self: flex-end;

                div.panel-title{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    h2{
                        color: $blue0;
                    }
                    span{
                        color: $blue-3;
                        font-size: .8em;
                    }
                }

                div.panel-content{
                    padding-top: 20px;
                    > ul:not(.customSelect){
                        width: 100%;
                        > li{
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                            padding: 5px 0;
                            border-bottom: 1px solid $gray5;
                            &:last-child{
                                border-bottom: none;
                            }
                            div.text{
                                justify-self: flex-start;
                                flex: 1;
                                font-size: .9em;
                                span.count{
                                    margin-right: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}