.hide-desk{
    display: none;
}

@media only screen and ( max-width: 1024px ){
    section#main > aside.menu-wrapper{
        flex-basis: 20%;
    }
    app-main-menu div.main-menu-wrapper nav ul li a{
        font-size: .9em;
    }
    section#main > div.right-panel > header#header div.user-wrapper{
        div.customSelect{
            width: 150px;
        }
        div.notifications-wrapper{
            height: 40px;
        }
    }
    app-mgmt-panel div.mgmt-component div.row div.panel-default-wrapper.right div.panel-content > ul:not(.customSelect) > li div.text span{
        font-size: .8em;
    }

    // Custom Select
    app-custom-select div.customSelect{
        width: 125px;
        height: 40px;
        &::after{
            top: 13px;
        }
        ul{
            top: 39px;
        }
    }

    // Links Default
    .link-default{
        font-size: .7em;
        line-height: 1.3em;
    }
}

@media only screen and ( max-width: 768px ){
    section#main > div.right-panel > header#header div.logo-wrapper img{
        max-width: 110px;
    }
    app-mgmt-panel div.mgmt-component div.row{
        flex-wrap: wrap;
    }
    app-mgmt-panel div.mgmt-component div.row div.panel-default-wrapper.left,
    app-mgmt-panel div.mgmt-component div.row div.panel-default-wrapper.right{
        flex-basis: 100%;
        margin-bottom: 10px;
    }
}

@media only screen and ( max-width: 480px ){
    .hide-desk{
        display: block;
    }
    .hide-mob{
        display: none;
    }
    section#main > div.right-panel > header#header{
        flex-flow: row wrap;
        justify-content: center;
        height: auto;
        padding-right: 0;
        padding-bottom: 10px;
        border-bottom: 1px solid $gray5;
        > div{
            margin: 5px 0;
        }
        div.logo-wrapper{
            order: 0;
            padding-left: 0;
            flex: 0 1 35%;
        }
        div.economic-group{
            order: 2;
        }
        div.user-wrapper{
            order: 1;
            flex: 0 1 45%;
        }
    }
    section#main > div.right-panel{
        flex-basis: 100%;
        height: 100vh;
        app-main-menu aside.menu-wrapper{
            background-color: $blue-3;
            nav ul{
                flex-flow: row wrap;
                justify-content: center;
                li{
                    flex: 1;
                    a{
                        font-size: .7em;
                        line-height: 1.3em;
                    }
                    a.active::after{
                        top: -20px;
                        right: 55%;
                        @include transform( rotate(-45deg) );
                    }
                }
            }
        }
    }

    app-main-menu div.search-wrapper{
        padding: 5px 10px;
    }

    app-mgmt-panel div.mgmt-component div.row:first-child {
        margin-bottom: 25px;
    }
    app-mgmt-panel div.mgmt-component div.row div.page-title-wrapper{
        flex: 1 0 100%;
        margin-bottom: 10px;
    }
    app-mgmt-panel div.mgmt-component div.row div.panel-default-wrapper.left div.panel-content{
        flex-wrap: wrap;
        border-right: none;
        padding-right: 0;
    }
    app-mgmt-panel div.mgmt-component div.row div.panel-default-wrapper.left div.panel-content .col:first-child,
    app-mgmt-panel div.mgmt-component div.row div.panel-default-wrapper.left div.panel-content .col:last-child{
        flex-basis: 100%;
        padding-left: 0;
    }
    app-mgmt-panel div.mgmt-component div.row div.panel-default-wrapper.left div.panel-content .col:last-child div.content ul{
        justify-content: flex-start;
    }
}