<aside class="menu-wrapper">

    <!-- Search Box -->
    <div class="search-wrapper">
        <input type="text" name="search" id="search" placeholder="Pesquise aqui">
        <div class="icon">
            <i class="fas fa-search"></i>
        </div>
    </div>
    
    <!-- Main Menu -->
    <div class="main-menu-wrapper">
        <nav>
            <ul>
                <li>
                    <div class="icon"><i class="fas fa-globe"></i></div>
                    <a routerLink="/painel-de-gestao" routerLinkActive="active">Painel de Gestão</a>
                </li>
                <li>
                    <div class="icon"><i class="fas fa-at"></i></div>
                    <a routerLink="/conta-digital">Conta Digital</a>
                </li>
                <li>
                    <div class="icon"><i class="far fa-chart-bar"></i></div>
                    <a routerLink="/recebiveis">Ant. de Recebíveis</a>
                </li>
            </ul>
        </nav>
    </div>
    
</aside>