<div class="customSelect" [id]="thisSelect" (click)="open()">
    <i class="fas fa-user" *ngIf="thisSelect == 'users'"></i>
    <span class="value">{{defaultValue}}</span>
    <ul>
        <li *ngFor="let item of listItens" (click)="selectItem(item)">
            {{ item }}
        </li>
    </ul>
</div>