<section id="main">
    <div class="overlay"></div>

    <!-- Left Panel -->
    <app-main-menu class="hide-mob"></app-main-menu>

    <!-- Right Panel -->
    <div class="right-panel">
        <!-- Main Content -->
        <header id="header">
            
            <!-- Logo -->
            <div class="logo-wrapper">
                <img src="../assets/logo-srm.png" alt="SRM">
            </div>

            <!-- Economic group -->
            <div class="economic-group">
                <label>Grupo Econômico:</label>
                <app-custom-select defaultValue="Selecione . . ." [listItens]="econMenu" thisSelect="econGroup"></app-custom-select>
            </div>

            <!-- Current User -->
            <div class="user-wrapper">
                <app-custom-select defaultValue="Sandra Oliveira" [listItens]="users" thisSelect="users"></app-custom-select>

                <div class="notifications-wrapper">
                    <i class="fas fa-bell"></i>
                    <span class="badge">3</span>
                </div>
            </div>

        </header>

        <!-- Menu For mobile -->
        <app-main-menu class="hide-desk"></app-main-menu>

        <!-- Content -->
        <section id="content">

            <div class="row">
                <!-- Breadcrumbs -->
                <div class="breadcrumbs">
                    <nav>
                        <ul>
                            <li>
                                <a href="">Página Inicial</a>
                            </li>
                            <li>
                                <a href="">Página de Gestão</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="row route-content">
                <router-outlet></router-outlet>
            </div>        

        </section>
    </div>

</section>

