<div class="mgmt-component">

    <div class="row">

        <!-- Page Title -->
        <div class="page-title-wrapper">
            <h1>
                <div class="icon"><i class="fas fa-globe"></i></div>
                Painel de Gestão
            </h1>
        </div>
    
        <!-- Product -->
        <div class="product-wrapper">
            <h4>Produto:</h4>
            <app-custom-select defaultValue="Selecione . . ." [listItens]="products" thisSelect="products"></app-custom-select>
        </div>
    
    </div>
    
    <div class="row">

        <!-- Panels -->

        <!-- Quick Access -->
        <div class="panel-default-wrapper left">
            <div class="panel-title">
                <h2>Atalhos</h2>
            </div>
            <div class="panel-content">

                <div class="col">
                    <div class="title">
                        <h4>Operacional</h4>
                    </div>

                    <div class="content">
                        <ul>
                            <li><a href="" class="link-default">Envio</a></li>
                            <li><a href="" class="link-default">Assinatura</a></li>
                            <li><a href="" class="link-default">Envio de Duplicatas</a></li>
                            <li><a href="" class="link-default">Assinatura Digital</a></li>
                            <li><a href="" class="link-default">Nova Operação</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col">
                    <div class="title">
                        <h4>Geral</h4>
                    </div>

                    <div class="content">
                        <ul>
                            <li><a href="" class="link-default">Carteira</a></li>
                            <li><a href="" class="link-default">Instruções</a></li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>

        <!-- Alerts -->
        <div class="panel-default-wrapper right">
            <div class="panel-title">
                <h2>Alertas</h2>

                <span class="time">
                    Útimos 5 dias
                </span>
            </div>
            <div class="panel-content">
                <ul>
                    <li>
                        <div class="text">
                            <span class="count">23</span>
                            <span class="description">Notas Aprovadas</span>
                        </div>
                        <div class="action">
                            <app-custom-select defaultValue="Ações" [listItens]="defaultActions" thisSelect="listAction-0"></app-custom-select>
                        </div>
                    </li>
                    <li>
                        <div class="text">
                            <span class="count">13</span>
                            <span class="description">Notas Canceladas</span>
                        </div>
                        <div class="action">
                            <app-custom-select defaultValue="Ações" [listItens]="defaultActions" thisSelect="listAction-1"></app-custom-select>
                        </div>
                    </li>
                    <li>
                        <div class="text">
                            <span class="count">7</span>
                            <span class="description">Assinaturas Digital</span>
                        </div>
                        <div class="action">
                            <app-custom-select defaultValue="Ações" [listItens]="defaultActions" thisSelect="listAction-2"></app-custom-select>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>

</div>